.my-points-page {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.my-points {
    font-family: "Advent Pro", sans-serif;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 67px;
    margin-bottom: 55px;
}

.card {
    border: solid 2px rgba(35, 62, 69, 1);
    padding: 12px 21px;
    margin-bottom: 32px;
}


h3 {
    font-size: 40px;
    font-weight: 500;
    color:rgba(84, 16, 15, 1);
    text-decoration: none;
    margin-bottom: 17px;
}

.card-title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 33px;
    margin-left: 48px;
    margin-bottom: 20px;
}

.card-name {
    display: flex;
    justify-content: space-between;
}

.card-type-item {
    margin: 0;
    display: flex;
    gap: 24px;
    list-style: none;
    margin-left: 48px;
    margin-bottom: 20px;
}

.card-type-paper {
    background-color: #ffebbb;
    padding: 5px 10px;
    font-size: 20px;
}

.card-type-plastic {
    background-color: rgba(12, 58, 21, 1);
    padding: 5px 10px;
    font-size: 20px;
    color: white;
}

.card-type-glass {
    background-color: rgba(84, 16, 15, 1);
    padding: 5px 10px;
    font-size: 20px;
    color: white;
}

.card-type {
    margin-bottom: 20px;
}

.card-place {
    display: flex;
    gap: 10px;
    margin-left: 48px;
    margin-right: 79px;
    margin-bottom: 20px;
}

.card-place p {
    width: 659px;
    font-size: 20px;
}

.card-time {
    display: flex;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 79px;
}

.card-time-work {
    display: flex;
    gap: 10px;
}

.card-p {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
}

.card-p p {
    margin: 0;
    margin-bottom: 10px;
}

.more a{
    font-size: 24px;
    margin: 0;
    color: rgba(115, 127, 53, 1);
    text-decoration: none;
}

.more p {
    margin:0;
}

.delete {
    background-color: transparent;
}

.card-edit {
    margin-top: 140px;
}

.card-edit a {
    border: solid 2px rgba(84, 16, 15, 1);
    padding: 5px;
    text-decoration: none;
    color:rgba(84, 16, 15, 1);
    font-size: 24px;
    font-weight: 500;
    margin-left: 20px;
}

.card-edit a:hover {
    background-color: rgba(84, 16, 15, 1);
    border: solid 2px rgba(255, 235, 187, 1);
    color:rgba(255, 235, 187, 1);
}
