DJANGO_SECRET_KEY=''
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME='postgres'
DB_USER='postgres'
DB_PASSWORD='postgres'
DB_HOST='localhost'
DB_PORT='5432'

VK_CLIENT_ID=''
VK_CLIENT_SECRET=''
YANDEX_CLIENT_ID=''
YANDEX_CLIENT_SECRET=''

CORS_ALLOWED_ORIGINS=''
YANDEX_GEOCODER_API_KEY=''
YANDEX_MAPS_API_KEY=''

DADATA_TOKEN=''
DADATA_SECRET=''