.header-cream {
    margin: 0;
    padding: 0;
    background-color: #ffebbb;
    display: flex;
    padding-left: 73px;
    padding-right: 156px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(12, 58, 21, 1);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 67px;
}

.logo {
    margin: 0;
    padding: 0;
    font-family: "El Messiri", sans-serif;
    font-size: 32px;
    padding: 5px 0px;
    font-weight: 700;
}

.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 29px;
    align-items: center;
}

.navigation-item-green {
    list-style: none;
    font-size: 20px;
}

.navigation-item-green a {
    text-decoration: none;
    color: rgba(12, 58, 21, 1);
}

.personal-account {
    margin-left: 70px;
}

.btn {
    border: solid 2px rgba(12, 58, 21, 1);
    padding: 5px; 
}

.btn a:hover {
    color: #ffebbb;
}

.btn:hover {
    background-color: rgba(12, 58, 21, 1);
}