body {
    font-family: "Advent Pro", sans-serif;
    background-color: #ffebbb;
    margin: 0;
    padding: 0;
}

.main {
    margin: 0 auto;
    padding:  0;
    display: flex;
    justify-content: center;
}

.back {
    font-size: 20px;
    font-weight: 500;
    border: solid 2px rgba(12, 58, 21, 1);
    padding: 5px;
    color: rgba(12, 58, 21, 1);
    text-decoration: none;
    margin-left: -104px;
}

.back:hover {
    background-color: rgba(12, 58, 21, 1);
    color: #ffebbb;
}

.form {
    text-align: center;
    width: 686px;
    margin-bottom: 222px;
}

h1 {
    font-family: "El Messiri", sans-serif;
    color:rgba(12, 58, 21, 1);
    font-size: 48px;
    margin-bottom: 50px;
}

h2 {
    margin: 0;
    padding: 0;
    color: rgba(115, 127, 53, 1);
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.input {
    border: solid 2px rgba(115, 127, 53, 1);
    background-color: white;
    padding: 58px 68px;
}

input {
    width: 500px;
    background-color: white;
    border: solid 2px rgba(115, 127, 53, 1);
    padding: 12px 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

.submit {
    background-color: rgba(115, 127, 53, 1);
    border: none;
    color: white;
    font-size: 36px;
    font-weight: 500;
    padding: 6px 26px;
    margin-top: 28px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: "Advent Pro", sans-serif;
}

.logIn {
   font-family: "Inter", sans-serif;
   color:  rgba(151, 151, 151, 1);
   font-size: 20px;
}

.logIn a {
    color:rgba(115, 127, 53, 1);
    text-decoration: none;
}